<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Api</title>
</head>
<body>
    <h1>Results page!</h1>
    <ul>
        <% parsedData["Search"].forEach(function(movie){ %>
            <img src=<%=movie["Poster"]%> alt="" srcset="">
            <li><h3><%=movie["Title"]%></h3>
                <ul>
                    <li><%=movie["Year"]%></li>
                    <li><%=movie["imdbID"]%></li>
                    <li><%=movie["Type"]%></li>                    
                </ul>
            </li>
    <%  }) %> 
    </ul>
    
    <a href="/">Search again!</a>
</body>
</html>